body {
    background-color: rgb(236, 236, 236);
    
}

input {
    text-align: right;
    height:70px;
    font-size: 40px;
    width:650px;
    background-color: rgb(236, 236, 236);
    border:none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

button {
    padding: 0px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    border: none;
    width:160px;
    height:60px;
    font-weight:450;
    font-size:16px;
    border-radius: 2px;
    font-family: Helvetica;
}

.calculator-body { 
    display:flex;
    flex-wrap:wrap;
    width: 660px;
    gap: 5px;
    flex-basis: 660px;
    box-sizing: border-box;
}

.buttons {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    box-sizing: border-box;
    gap:5px;
    
}

.memorybuttons {
    display:flex;
    gap: 5px;
    box-sizing: border-box;
    flex-wrap:wrap;
    width: 660px;
}

.memorybuttons button {
    width: 80px;
    height:30px;
    background-color: rgb(231, 231, 231);

}

button:hover {
    background-color: rgb(236, 236, 236);

}

.memorybuttons button:hover {
    background-color: rgb(206, 206, 206);
}

.lighter {
    background-color:rgb(252, 252, 252);
}
.lighter:hover {
    background-color:rgb(245, 245, 245);

}

.blue {
    background-color:rgb(0, 78, 141);
    color:white;
}

.blue:hover {
    background-color:rgb(0, 95, 173);
}

.bigger {
    font-size:20px;
}